{% extends 'index.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('catalog') }}">Index</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ book.title }}</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div >
                <img src="..." class="img-thumbnail" alt="{{ book.title }}">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ book.author }}</h6>
                <p class="card-text">{{ book.title }} {{ book.author }} {{ book.year }}</p>

              </div>
            </div>
            <a href="#" class="btn btn-outline-primary">Order</a>
        </div>
    </div>

</div>
{% endblock %}
