{% extends 'blank.html' %}

{% block content %}
<div class="container p-0">
  <div class="col">
    <h1 class="display-5 mb-5">Cart</h1>
    {% if cart.items|length > 0 %}
      <div class="list-group">
        {% for book in cart.items %}
        <a href="{{ url_for('book', book_id=book.id) }}" class="list-group-item list-group-item-action">{{ book.title }}</a>
        {% endfor %}
      </div>
    {% endif %}
    <form method="post">
      <button type="submit" class="btn btn-outline-primary">Clear</button>
    </form>
  </div>
</div>
{% endblock %}

