<!DOCTYPE html>
<html lang="en" class="h-100" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ library.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ bootstrap.load_css() }}
    <style>
        .cover-container {
            max-width: 42em;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body class="d-flex h-100">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
        <header class="mb-auto">
        </header>

        <main class="text-center px-3">
            <div class="logo mb-5">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="{{ library.name }}" height="128">
            </div>
            <div class="text-center mb-5">
                <h1>{{ library.name }}</h1>
                <p class="mb-4">{{library.get_count()}} books available</p>
            </div>

            {%with messages = get_flashed_messages(with_categories=true)%}

            {% if messages %}
              {% for category, message in messages %}
              {%if category =='error' %}
              <div class="alert alert-danger" role = 'alert'>
                {{message}}
              </div>
              {%elif category =='success' %}
              <div class="alert alert-success" role = 'alert'>
                {{message}}
              </div>
              {%elif category =='warning' %}
              <div class="alert alert-warning" role = 'alert'>
                {{message}}
              </div>
              {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}

            <div class="container p-0">
                <form class="row g-2" action="{{ url_for('home') }}" method="post">
                    <div class="col mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Your name" aria-label="Name" aria-describedby="search-addon" name="username" />
                    </div>
                    <div class="col-auto mb-3">
                        <button class="btn btn-lg px-5 btn-outline-primary" type="submit">Enter</button>
                    </div>
                </form>
            </div>
        </main>

        <footer class="text-center mt-auto">
            <p>Licenced by <a href="http://localhost">{{ library.name }}</a>.</p>
        </footer>
    </div>

{{ bootstrap.load_js() }}
</body>

</html>
