<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/svg+xml" href="/favicons/favicon.svg">
    <link rel="alternate icon" type="image/png" sizes="16x16" href="/favicons/favicon16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
</head>

<body class="d-flex h-100">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div class="text-end">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person"></i>I
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="/profile" class="dropdown-item" type="button">Профіль</a></li>
                        <li><a href="/admin/settings" class="dropdown-item" type="button">Налаштування</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a href="/logout" class="dropdown-item" type="button">Вихід</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <main class="text-center px-3">
            <div class="logo mb-5">
                <img src="/build/images/logo0.png" alt="Metacortex" width="300" height="300">
            </div>

            <p class="lead" data-hello-target="output"></p>
            <p class="lead">
                <a href="/index" class="btn fw-bold px-lg-5" title="На головну">На головну</a>
            </p>
        </main>

        <footer class="text-center mt-auto">
            <p>Licenced by <a href="http://localhost">Metacortex</a>.</p>
        </footer>
    </div>
</body>

</html>
