<!DOCTYPE html>
<html lang="en" class="h-100" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ library.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column h-100">
{% block modal %}{% endblock %}

<nav class="navbar navbar-expand-lg bg-light bg-body-tertiary">
  <div class="container-fluid">
    <a href="{{ url_for('index') }}" class="me-2">
    <img src="{{ url_for('static', filename='images/logo_mono.svg') }}" alt="{{ library.name }}" height="32" width="32" />
    </a>

    <a class="navbar-brand" href="{{ url_for('home') }}">{{ name }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Index</a>
        </li>
        <li>
          <a href="{{ url_for('cart_index') }}" class="btn {% if session['cart'] and session['cart']['count_items'] %}btn-outline-danger{% else %}btn-outline-secondary{% endif %} position-relative mx-2" id="cart_top">
            <i class="bi bi-cart"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger {% if session['cart'] and session['cart']['count_items'] %}{% else %}d-none{% endif %}" id="cart_top_count">
              <span id="cart_top_count_items">{% if session['cart'] and session['cart']['count_items'] %}{{ session['cart']['count_items'] }}{% endif %}</span>
              <span class="visually-hidden">items in the cart</span>
            </span>
          </a>
        </li>
      </ul>

      {% if session['username'] %}
          <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person"></i> {{ session['username'] }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
              <li><a href="{{url_for('profile')}}" class="dropdown-item" type="button">Profile</a></li>
              <li><a href="{{url_for('settings')}}" class="dropdown-item" type="button">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href="{{url_for('logout')}}" class="dropdown-item" type="button">Exit</a></li>
          </ul>
      {% else %}
          <a href="/login" class="btn btn-outline-primary" type="button">Login</a>
      {% endif %}

    </div>
  </div>
</nav>

<main class="flex-shrink-0 mb-5">
    <div class="container mt-4">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        {% block breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Index</li>
        {% endblock %}
        </ol>
      </nav>
    </div>

    <div class="container mt-4">

      {%with messages = get_flashed_messages(with_categories=true)%}

      {% if messages %}
        {% for category, message in messages %}
        {%if category =='error' %}
        <div class="alert alert-danger" role = 'alert'>
          {{message}}
        </div>
        {%elif category =='success' %}
        <div class="alert alert-success" role = 'alert'>
          {{message}}
        </div>
        {%elif category =='warning' %}
        <div class="alert alert-warning" role = 'alert'>
          {{message}}
        </div>
        {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}

    {% if books|length == 0 %}
      <div class="alert alert-warning" role="alert">
        No books found
      </div>
      <p>Upload new data</p>
      <form method="post" enctype="multipart/form-data">
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <input type=file name=file class="form-control" />
        </div>
        <div class="col-auto">
          <input type=submit class="btn btn-outline-primary" value=Upload />
        </div>
      </div>
      </form>
    {% endif %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-2 mb-4">
    {% for book in books %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ book.author }}</h6>
            <p class="card-text">{{ book.title }} {{ book.author }} {{ book.year }}</p>
            <a href="{{ url_for('book', book_id=book.id) }}" class="card-link me-2">Details</a>
            {% if book.in_cart %}
              <button type="button" class="btn btn-sm btn-outline-primary" disabled>+ Add to cart</button>
            {% else %}
              <button type="button" onclick="addToCart(this, {{ book.id }})" data-url="{{ url_for('add_to_cart', book_id=book.id)}}" class="btn btn-sm btn-outline-primary">+ Add to cart</button>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    {% if user == config['ADMIN_PERMISSION'] %}
      <a href="{{ url_for('import_file') }}" class="btn btn-outline-primary">Import books</a>
    {% endif %}

    {% endblock %}

  </div>
</main>

<footer class="footer mt-auto py-3 bg-light bg-body-tertiary">
  <div class="container">
    <span class="text-body-secondary">&copy; {{ library.name }}</span>
  </div>
</footer>

{{ bootstrap.load_js() }}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock %}

</body>

</html>
