{% extends 'index.html' %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('cart_index') }}">Cart</a></li>
<li class="breadcrumb-item"><a href="{{ url_for('cart_order') }}">Order</a></li>
<li class="breadcrumb-item active" aria-current="page">Order {{ order_id }} confirm</li>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/order.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container p-0">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="display-5 mb-5">Confirm your order</h1>
          <div class="mb-5">
            <div class="spinner-border" role="status" id="spinner_loader">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <button type="button" class="btn btn-lg btn-primary" id="confirm_button" onclick="refreshOrder(this, {{ order_id }})" data-url="{{ url_for('confirm_order', order_id=order_id) }}">
            Confirm
          </button>
        </div>
      </div>
    </div>
{% endblock %}
