{% extends 'blank.html' %}

{% block content %}
<div class="container p-0">
    <div class="col">
        <h1 class="display-5 mb-5">Settings</h1>
    </div>
</div>
<div class="container p-0">
    {% from "_formhelpers_bootstrap.html" import render_field %}
    <form class="row g-2 align-items-center" action="{{ url_for('settings') }}" method="post">
        <div class="col mb-3">
            {{ render_field(form.newname) }}
        </div>
        <div class="col-auto mb-3">
            <button class="btn btn-lg px-5 btn-outline-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
